
.admin-container {
  background-color: darkslategrey;
  
  & .botones-seccion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 7px;
  }

  & .eliminar-usuario {
    display: flex;
    justify-content: center;
    margin-top: 7px;

    & .example-form-field {
      width: 200px;
      color: white;
    }

    & input {
      color: white;
    }
  }

  .panel-admin-listar {
    display: flex;
    flex-direction: column;

    & .usuarios-panel {
      display: grid;
      grid-template-columns: repeat(5, 4fr);
      overflow-x: inherit;
      & mat-card {
        margin: 4px;
      }
    }

    & .pedidos-panel {
      display: grid;
      grid-template-columns: repeat(4, 4fr);
      overflow-x: inherit;
      & mat-card {
        margin: 4px;
      }
    }
    .total {
      display: flex;
      justify-content: flex-start;
      text-align: right;
      color: rgb(110, 240, 196);
    }
  }
}
