.admin-container{
  background-color: darkslategrey;
 // height: 1000vw;
  

  & .botones-seccion{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 7px;
  }

  & .eliminar-usuario{
    display: flex;
    justify-content: center;
    margin-top: 7px;

    & .example-form-field {
      width: 200px;
     color: white;
    }
    
    & input {color: white;}
    
  }

  .panel-admin-listar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
  
    & .usuarios-panel {
      
      & mat-card{
        margin: 4px;
        
      }
    }

    & .pedidos-panel {
      
      & mat-card{
        margin: 4px;
        
      }
    }
  }
  


}

