<div class="contenedor-login">

  <div style="padding-top: 2rem; color: #6f1e83; font-size: 32px;">
    <h1>{{titulo}}</h1>
  </div>

  <!-- FORMULARIO LOGIN -->

  <form class="formulario-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="email" formControlName="email">

      </mat-form-field>
    </p>

     <p>
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="show ? 'text': 'password'" formControlName="contrasenia">

        <mat-icon (click)="cambiarTipoContrasenia()" matSuffix>visibility</mat-icon>
        
      </mat-form-field>
    </p>
    
    <button mat-raised-button type="submit" class="color-boton">Enviar</button>
  </form>

  <div class="links-login">
    <span>No recuerda su contraseña? 
    </span>

    <div style="display: flex; flex-direction: row; justify-content: space-between ;">
      <span class="badge">Si no tiene cuenta  </span><p> &nbsp; </p> <a style="color: #6f1e83; text-decoration: none" [routerLink]="['/registro']">Registrese
      </a>
    </div>
  </div>
</div>